@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap');
/* import Google fonts */

:root {
    --dark: #211335;
    --light: #7E57C5;
    --light-rgb: rgb(126,87,197);
    --light-rgba: rgba(126,87,197,1);
    --light-half: rgba(126,87,197,0.5);
    --text: #fff;
    --accent: #9CE7E0;
    --accent-rgba: rgba(156,231,224,1);
    --accent-half: rgba(156,231,224,0.5);
}

body {
    margin: 0 auto;
    max-width: 1440px;
    background-color: var(--dark);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
}

h1,
h2 {
    font-family: 'Eczar', serif;
    font-weight: 400;
    text-transform: lowercase;
    letter-spacing: .05rem;
}

h1 {
    font-size: 48px;
}

h2 {
    overflow: hidden; /* keeps decorative line from over-extending */
    padding: 10px 0;
    font-size: 32px;
}

h2:after { /* decorative divider line */
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid var(--accent);
}

a { /* removes default underline for all links */
    text-decoration: none;
}

.highlight { /* currently only used to highlight name in bio but could be useful later */
    color: var(--accent);
}

/* --- HEADER --- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid var(--light);
    max-width: 95%;
    padding: 20px;
}


header img {
    max-width: 250px;
}

/* --- NAVIGATION --- */

nav ul {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0px; /* remove forced padding from user agent stylesheet */
    list-style-type: none;
}

nav ul li {
    margin-left: 40px;
}

nav ul li:first-child {
    margin-left: 0px;
}

.nav-links {
    text-transform: uppercase;
}

.nav-links a, .main-nav a:visited {
    color: var(--text);
}

.nav-links a:hover, .nav-links a:focus {
    border-bottom: 1px solid var(--accent);
    color: var(--accent);
}

/* --- MAIN CONTAINER --- */

main {
    margin: 0 auto;
    max-width: 80%;
    padding: 20px 0; 
}

/* --- ABOUT --- */

#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

#about-avatar img {
    margin: 10px 5px 10px 15px;
    box-shadow: var(--accent) 5px 5px 20px, var(--light) -5px -5px 20px;
    border-radius: 50%;
    max-width: 300px;
}

.text-right {
    margin-left: 40px;
}

/* --- WORK --- */

#work {
    margin: 10px 0;
}

.proj-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-inline-start: 0; /* remove forced padding from user agent stylesheet */
    list-style-type: none;
}

.proj-gallery > li {
    flex-basis: calc(50% - 5px); /* calculate the correct box width based on the 10px gap */
    position: relative;
}

.proj-gallery > li:first-child { /* force the first box to be full width */
    flex-basis: 100%;
}

.proj-gallery li img {
    object-fit: cover; /* keep aspect ratio */
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 10px;
}

.overlay,
.overlay:visited { /* gradient overlay on gallery links */
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    /* gradient effect */
    background: var(--light);
    background: -moz-linear-gradient(135deg, var(--light-half) 0%, var(--accent-half) 100%);
    background: -webkit-linear-gradient(135deg, var(--light-half) 0%, var(--accent-half) 100%);
    background: linear-gradient(135deg, var(--light-half) 0%, var(--accent-half) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7e57c5",endColorstr="#9ce7e0",GradientType=1);
}

.overlay:hover,
.overlay:active,
.overlay:focus {
    opacity: 0;
    transition: .5s ease;
}

.proj-title-lang {
    padding: 10px;
    width: 100%;
    background-color: var(--light);
    line-height: 1.4;
    text-align: center;
    color: var(--dark);
}

.proj-title {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 24px;
    font-weight: 600;
}

/* --- CONTACT --- */

#contact {
    margin: 10px 0;
}

#contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 0 20px 0;
    padding-inline-start: 0; /* remove forced padding from user agent stylesheet */
    list-style-type: none;
}

#contact ul li a,
#contact ul li a:visited {
    display: block;
    padding: 10px 20px;
    color: var(--dark);
    font-size: 18px;
    font-weight: 600;
    background: var(--light-rgb);
    background: -moz-linear-gradient(135deg, var(--light-rgba) 0%, var(--accent-rgba) 100%);
    background: -webkit-linear-gradient(135deg, var(--light-rgba) 0%, var(--accent-rgba) 100%);
    background: linear-gradient(135deg, var(--light-rgba) 0%, var(--accent-rgba) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7e57c5",endColorstr="#9ce7e0",GradientType=1);
    margin: 10px 0 10px 0;
    border-radius: 10px;
}

#contact ul li a:hover,
#contact ul li a:active,
#contact ul li a:focus {
    color: var(--text);
    background: var(--light);
}

/* --- FOOTER --- */

footer {
    margin: 0 auto;
    border-top: 1px solid var(--light);
    max-width: 95%;
    padding: 20px;
    font-size: 13px;
    font-style: italic;
    text-align: center;
}

/* --- MEDIA QUERIES --- */

/* tablet */
@media screen and (max-width: 912px) {

    /* add additional decorative divider line to left of h2s and make them centered */
    h2 {
        text-align: center;
    }
    
    h2:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        margin-right: 10px;
        margin-left: -100%;
        border-top: 1px solid var(--accent);
    }

    /* centered header */
    header {
        flex-direction: column;
    }

    nav ul {
        padding-top: 20px;
    }

    /* about section to column format */
    #about {
        flex-direction: column;
    }

    #about-avatar img {
        margin: 20px auto;
        max-width: 50%;
    }

    .text-right {
        margin-left: 0;
    }

    /* gallery */
    .proj-gallery > li {
        flex-basis: 100%; /* make all boxes full width on tablet/mobile */
    }

    .proj-title {
        font-size: 20px;
    }

    /* contact section to column format */
    #contact ul {
        flex-direction: column;
        align-items: center;

    }

}

/* mobile */
@media screen and (max-width: 400px) {

    /* stacked header */
    header {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        padding-top: 20px;
    }

    nav ul li {
        margin: 0 auto;
    }

    nav ul li:first-child {
        margin: 0 auto;
    }

    /* gallery */
    .proj-title {
        font-size: 16px;
    }

}